/* Added  background image of library, warm and inviting, used 
position-y to fix the image at a different location of the large image. */
body {
    background-image: url("/images/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
    background-position-y: 22%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100%;
    overflow: hidden;
    background-size: 120%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 15rem);
    margin: 0;
    padding: 0;
}

.imageCredit {
    grid-column: 4 / 5;
    justify-self: end;
    align-self: end;
    margin-right: 15px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bookImage {
    position: absolute;
    right: 185px;
    grid-column: 2;
    grid-row: 1/4;
    width: 1200px;
    filter: drop-shadow(0 0 15px black);
    z-index: -1;
}

.footer {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0px -25px 35px 20px #5d6684;
    opacity: 90%;
    height: 35px;
    width: 100vw;
    background-color: #5d6684;
    font-size: 72px;
}
/* Animation ideas. 
First: GITHUB Logo in my footer centered, with some type of animation of the cat, maybe spinning around, or winking?
Second: Animated form that fades in (Looks like a book) when the form is filled and submitted, 
the book will fold up and fly away onto an invisible shelf and then fade away, maybe have
a link for the books that grows each time a book is submitted to it.
Maybe even animate a page to fall out of the words when it reaches more then 5 books for every new one you put in? */